langchain
python-dotenv
langchain-community
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
openai
langchain-groq
huggingface_hub
validators==0.28.1
youtube_transcript_api
unstructured
pytube
SQLAlchemy
langchain_core
streamlit
crewai
crewai_tools
groq
